%h1
  Listing texts for #{@user_email}

<p id="notice" class="notice"> 
=notice

%ul#nav
  %li
    %a{:href => "/", :title => "Home"} Home
    %span /
  %li
    %a.current{:href => "/texts", :title => "My Texts"} My Texts
    %span /
  %li
    %a{:href => "/users/info", :title => "My Profile"} My Profile
    %span /
  %li
    %a{:href => "/users/sign_out", :title => "Sign Out"} Sign Out
    %span /
%br
%b Welcome Back! To copy, e-mail, or generate a QR Code for your text please click on the icon to the left of it.
%br
%br
- if @texts.blank?
  %br/
  %br/
  %b You have no texts recorded yet!
  %br/
- else
  %table{:class=>"table-texts"}
    %tr{:class=>cycle("odd","even")}
      %th Copy to Clipboard
      %th Send by Email
      %th Generate QR Code
      %th Text
      %th Created date
      %th
      %th
      %th
    - @texts.each do |text|
    -copy = text.text.gsub(/[\\&\'&\`&\"\s]/, ' ')
      %tr{:class=>cycle("odd","even")}
        %td= link_to(image_tag( '/assets/copyclip.png', :alt=>"CopyClipboard", :border => "0", :onclick=>"copyToClipboard('#{copy}');"))
        %td= link_to(image_tag('/assets/mail.png'), {:controller => :emailing, :action => :index, :text => text })
        %td= link_to(image_tag('/assets/qr.png'), {:controller => :texts, :action => :qr, :id => text })
        %td= text.text
        %td= text.created_date
        %td= link_to 'Show', text
        %td= link_to 'Edit', edit_text_path(text)
        %td= link_to 'Destroy', text, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Text', new_text_path