%h1
  Listing texts for #{@user_email}

%br/

%ul#nav
  %li
    %a{:href => "/", :title => "Home"} Home
    %span /
  %li
    %a.current{:href => "/texts", :title => "My Texts"} My Texts
    %span /
  %li
    %a{:href => "/users/info", :title => "My Profile"} My Profile
    %span /
  %li
    %a{:href => "/users/sign_out", :title => "Sign Out"} Sign Out
    %span /

%br
- if @texts.blank?
  %br/
  %br/
  %b You have no texts recorded yet!
  %br/
- else
  %table
    %tr
      %th Copy to Clipboard
      %th Text
      %th Created date
      %th
      %th
      %th
    - @texts.each do |text|
      %tr
        %td=link_to(image_tag( '/assets/copyclip.png', :alt=>"CopyClipboard", :border => "0", :onclick=>"copyToClipboard('#{text.text}');"))
        %td= text.text
        %td= text.created_date
        %td= link_to 'Show', text
        %td= link_to 'Edit', edit_text_path(text)
        %td= link_to 'Destroy', text, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Text', new_text_path