<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @text.user_id %>
</p>

<p>
  <b>Text:</b>
  <%= @text.text %>
</p>

<p>
  <b>Created date:</b>
  <%= @text.created_date %>
</p>


<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
